intellij:
  jetbrains:
    #Default edition 'C' (community) or 'U' (Ultimate).
    edition: C
  alt:
    #Important: Increase priority for every version/edition installation
    priority: 190
  dl:
    retries: 1
    interval: 30
  prefs:
    user: undefined_user
 
