[Desktop Entry]
Encoding=UTF-8
Name=IDEA IntelliJ
Comment=JetBrains IntelliJ IDEA (Java IDE)
Icon=/opt/intellij/bin/idea.png
Exec={{ home }}/{{ command }}
Terminal=false
Type=Application
