[Desktop Entry]
Encoding=UTF-8
Name={{ name }} {{ edition }}
Comment={{ name }} {{ edition }}
Icon={{ path }}/{{ command.split('.')[0] }}.png
Exec={{ path }}/{{ command }}
Terminal=false
Type=Application
